# ========================
# Node / Frontend
# ========================

# Зависимости Node
/frontend/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Сборки Next.js
/frontend/.next/
/frontend/out/
/frontend/build

# Логи / отладка
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Прочее
.DS_Store
*.pem

# ========================
# Environment variables
# ========================
.env*

# ========================
# Vercel (если используешь)
# ========================
.vercel

# ========================
# TypeScript
# ========================
*.tsbuildinfo
/frontend/next-env.d.ts

# ========================
# Python / Backend
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
env/
*.egg-info/
dist/
build/

# SQLite database
/backend/data/
*.db

# Alembic
/backend/alembic/__pycache__/
